* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.utilisateur {
    width: 50%;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    