# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\samuel\Desktop\GitHub\php\Exo-194-PHP-SQL-selection-simple-de-donnees\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
